body {
  font-family: Azeret Mono;
}
.display-1 {
  font-family: 'Sequel100Black-85';
  font-size: 4rem;
  line-height: 70px;
  letter-spacing: 0.08em;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Sequel100Black-85';
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Sequel100Black-85';
  font-size: 20px;
  line-height: 34px;
}
.display-4 > .mbr-iconfont {
  font-size: 0.5rem;
}
.display-5 {
  font-family: 'Sequel100Black-85';
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 0.08em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Sequel100Black-85';
  font-size: 20px;
  line-height: 34px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.32rem;
    font-size: calc( 0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 80px;
}
.bg-primary {
  background-color: #191919 !important;
}
.bg-success {
  background-color: #fefefe !important;
}
.bg-info {
  background-color: #bbbbbb !important;
}
.bg-warning {
  background-color: #404040 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fff9f0 !important;
  border-color: #fff9f0 !important;
  color: #f09000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #995c00 !important;
  background-color: #ffd699 !important;
  border-color: #ffd699 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #f09000 !important;
  background-color: #ffd699 !important;
  border-color: #ffd699 !important;
}
.btn-info,
.btn-info:active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fefefe !important;
  border-color: #fefefe !important;
  color: #7f7f7f !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #535353 !important;
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #7f7f7f !important;
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #404040 !important;
  border-color: #404040 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #151515 !important;
  border-color: #151515 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #151515 !important;
  border-color: #151515 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #191919;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fff9f0;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffd699 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #f09000 !important;
  background-color: #fff9f0 !important;
  border-color: #fff9f0 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #bbbbbb;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #909090 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fefefe;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d3d3d3 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #7f7f7f !important;
  background-color: #fefefe !important;
  border-color: #fefefe !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #404040;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #151515 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #191919;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #191919 !important;
}
.text-secondary {
  color: #fff9f0 !important;
}
.text-success {
  color: #fefefe !important;
}
.text-info {
  color: #bbbbbb !important;
}
.text-warning {
  color: #404040 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #191919 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ffd08a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cbcbcb !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #888888 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #0d0d0d !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-color: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #191919;
}
.nav-tabs .nav-link:not(.active) {
  color: #191919;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #bbbbbb;
}
.alert-warning {
  background-color: #404040;
}
.alert-danger {
  background-color: #000000;
}
.mbr-gallery-filter li.active .btn {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #191919;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cbcbcb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Sequel100Black-85';
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 0.5rem;
}
.form-control::-webkit-input-placeholder {
  font-family: 'Sequel100Black-85';
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
.form-control::-webkit-input-placeholder > .mbr-iconfont {
  font-size: 0.5rem;
}
blockquote {
  border-color: #191919;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #191919;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #191919;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #191919;
  border-bottom-color: #191919;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #191919 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fff9f0 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23191919' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sVLGDLV5Wj {
  z-index: 1000;
  width: 100%;
}
.cid-sVLGDLV5Wj nav.navbar {
  position: fixed;
}
.cid-sVLGDLV5Wj .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sVLGDLV5Wj .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sVLGDLV5Wj .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sVLGDLV5Wj .dropdown-item:hover,
.cid-sVLGDLV5Wj .dropdown-item:focus {
  background: #191919 !important;
  color: white !important;
}
.cid-sVLGDLV5Wj .dropdown-item:hover span {
  color: white;
}
.cid-sVLGDLV5Wj .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sVLGDLV5Wj .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sVLGDLV5Wj .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sVLGDLV5Wj .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sVLGDLV5Wj .nav-link {
  position: relative;
}
.cid-sVLGDLV5Wj .container {
  display: flex;
  margin: auto;
}
.cid-sVLGDLV5Wj .iconfont-wrapper {
  color: #1f1437 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sVLGDLV5Wj .dropdown-menu,
.cid-sVLGDLV5Wj .navbar.opened {
  background: #fff9f0 !important;
}
.cid-sVLGDLV5Wj .nav-item:focus,
.cid-sVLGDLV5Wj .nav-link:focus {
  outline: none;
}
.cid-sVLGDLV5Wj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sVLGDLV5Wj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sVLGDLV5Wj .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sVLGDLV5Wj .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sVLGDLV5Wj .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sVLGDLV5Wj .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sVLGDLV5Wj .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #fff9f0;
}
.cid-sVLGDLV5Wj .navbar.opened {
  transition: all 0.3s;
}
.cid-sVLGDLV5Wj .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sVLGDLV5Wj .navbar .navbar-logo img {
  width: auto;
}
.cid-sVLGDLV5Wj .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
  margin-left: 20px;
}
.cid-sVLGDLV5Wj .navbar.collapsed {
  justify-content: center;
}
.cid-sVLGDLV5Wj .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sVLGDLV5Wj .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sVLGDLV5Wj .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sVLGDLV5Wj .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sVLGDLV5Wj .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sVLGDLV5Wj .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sVLGDLV5Wj .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sVLGDLV5Wj .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sVLGDLV5Wj .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sVLGDLV5Wj .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sVLGDLV5Wj .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sVLGDLV5Wj .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sVLGDLV5Wj .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sVLGDLV5Wj .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sVLGDLV5Wj .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sVLGDLV5Wj .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sVLGDLV5Wj .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sVLGDLV5Wj .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sVLGDLV5Wj .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sVLGDLV5Wj .navbar.navbar-short {
  min-height: 60px;
}
.cid-sVLGDLV5Wj .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sVLGDLV5Wj .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sVLGDLV5Wj .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sVLGDLV5Wj .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sVLGDLV5Wj .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sVLGDLV5Wj .dropdown-item.active,
.cid-sVLGDLV5Wj .dropdown-item:active {
  background-color: transparent;
}
.cid-sVLGDLV5Wj .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sVLGDLV5Wj .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sVLGDLV5Wj .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sVLGDLV5Wj .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff9f0;
}
.cid-sVLGDLV5Wj .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sVLGDLV5Wj .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sVLGDLV5Wj ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sVLGDLV5Wj .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sVLGDLV5Wj button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sVLGDLV5Wj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #1f1437;
}
.cid-sVLGDLV5Wj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sVLGDLV5Wj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sVLGDLV5Wj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sVLGDLV5Wj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sVLGDLV5Wj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sVLGDLV5Wj nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sVLGDLV5Wj nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sVLGDLV5Wj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sVLGDLV5Wj .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sVLGDLV5Wj a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sVLGDLV5Wj .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sVLGDLV5Wj .navbar {
    height: 70px;
  }
  .cid-sVLGDLV5Wj .navbar.opened {
    height: auto;
  }
  .cid-sVLGDLV5Wj .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sSL6zy17r1 {
  overflow: hidden !important;
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #fff9f0;
}
.cid-sSL6zy17r1 .container-fluid {
  padding: 0 5rem;
}
.cid-sSL6zy17r1 .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sSL6zy17r1 .mbr-section-title {
  padding-bottom: 2rem;
  color: #000000;
}
.cid-sSL6zy17r1 .mbr-section-subtitle {
  color: #3e4555;
  font-weight: 400;
}
.cid-sSL6zy17r1 .mbr-figure {
  border-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .cid-sSL6zy17r1 .mbr-figure img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .cid-sSL6zy17r1 .container-fluid {
    padding: 0 1rem;
  }
  .cid-sSL6zy17r1 .mbr-figure {
    margin-top: 1rem;
  }
  .cid-sSL6zy17r1 .mbr-section-title {
    text-align: center !important;
  }
  .cid-sSL6zy17r1 .mbr-section-subtitle {
    text-align: center !important;
  }
  .cid-sSL6zy17r1 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-sSL6zy17r1 .mbr-section-subtitle,
.cid-sSL6zy17r1 .mbr-section-btn {
  color: #000000;
}
.cid-sWfwHCGpXI {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #fff9f0;
}
.cid-sWfwHCGpXI .article-wrapper {
  padding-bottom: 200px;
}
.cid-sWfwHCGpXI .article-list {
  margin: 0 0 64px 20px;
  padding: 0;
  list-style-position: inside;
}
.cid-sWfwHCGpXI .article-list li p {
  margin-bottom: 0;
}
.cid-sWfwHCGpXI .mbr-section-text {
  margin-bottom: 40px;
  color: #000000;
}
@media (max-width: 768px) {
  .cid-sWfwHCGpXI .article-wrapper {
    padding-bottom: 100px;
  }
}
@media (max-width: 425px) {
  .cid-sWfwHCGpXI .article-wrapper {
    padding-bottom: 60px;
  }
}
@media (max-width: 320px) {
  .cid-sWfwHCGpXI .article-wrapper {
    padding-bottom: 40px;
  }
}
.cid-sWfwHCGpXI .mbr-text {
  color: #626462;
}
.cid-sWfwHCGpXI .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-sSL8tI8zsf {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #fff9f0;
}
.cid-sSL8tI8zsf .mbr-section-head {
  margin-bottom: 2rem;
}
.cid-sSL8tI8zsf .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #1d2c35;
  margin-left: 1rem;
}
.cid-sSL8tI8zsf .panel-group {
  border: none;
}
.cid-sSL8tI8zsf .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sSL8tI8zsf .panel-body,
.cid-sSL8tI8zsf .card-header {
  padding: 1rem 0;
}
.cid-sSL8tI8zsf .panel-title-edit {
  color: #000000;
}
.cid-sSL8tI8zsf .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sSL0lR49CO {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background: #fff9f0;
}
.cid-sSL0lR49CO .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sSL0lR49CO .team-card:hover {
  transform: translateY(-10px);
}
.cid-sSL0lR49CO .container-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 77%;
}
.cid-sSL0lR49CO .card-content {
  margin: -80% 0 0 0;
}
.cid-sSL0lR49CO .card-wrap {
  background: #fefefe;
  height: 100%;
  display: flex;
  border-radius: 20px;
  position: relative;
}
.cid-sSL0lR49CO .card-wrap__content {
  margin: 0 0 -6vw 0;
  padding: 3rem 1.3rem;
}
.cid-sSL0lR49CO .card-wrap .image-wrap img {
  width: 100%;
}
.cid-sSL0lR49CO .card-wrap .image-wrap {
  margin: 1rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sSL0lR49CO .card-wrap .content-wrap {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL0lR49CO .card-wrap {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL0lR49CO .profile-container .pdd-top:not(:first-child) {
    margin-bottom: 4rem;
  }
}
.cid-sSL0lR49CO .social-row {
  text-align: center;
}
.cid-sSL0lR49CO .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  transition: all 0.3s;
}
.cid-sSL0lR49CO .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1.5rem;
}
.cid-sSL0lR49CO .social-row .soc-item:hover {
  background-color: #000000;
}
.cid-sSL0lR49CO .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sSL0lR49CO .mbr-section-title {
  color: #000000;
}
.cid-sSL0lR49CO .mbr-role,
.cid-sSL0lR49CO .social-row {
  color: #232323;
}
.cid-sVN8hNn0nj {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background: #fff9f0;
}
.cid-sVN8hNn0nj .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sVN8hNn0nj .team-card:hover {
  transform: translateY(-10px);
}
.cid-sVN8hNn0nj .container-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 77%;
}
.cid-sVN8hNn0nj .card-content {
  margin: -80% 0 0 0;
}
.cid-sVN8hNn0nj .card-wrap {
  background: #fefefe;
  height: 100%;
  display: flex;
  border-radius: 20px;
  position: relative;
}
.cid-sVN8hNn0nj .card-wrap__content {
  margin: 0 0 -6vw 0;
  padding: 3rem 1.3rem;
}
.cid-sVN8hNn0nj .card-wrap .image-wrap img {
  width: 100%;
}
.cid-sVN8hNn0nj .card-wrap .image-wrap {
  margin: 1rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sVN8hNn0nj .card-wrap .content-wrap {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sVN8hNn0nj .card-wrap {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sVN8hNn0nj .profile-container .pdd-top:not(:first-child) {
    margin-bottom: 4rem;
  }
}
.cid-sVN8hNn0nj .social-row {
  text-align: center;
}
.cid-sVN8hNn0nj .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  transition: all 0.3s;
}
.cid-sVN8hNn0nj .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1.5rem;
}
.cid-sVN8hNn0nj .social-row .soc-item:hover {
  background-color: #000000;
}
.cid-sVN8hNn0nj .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sSL15lL0WQ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background: #fff9f0;
}
.cid-sSL15lL0WQ .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sSL15lL0WQ .team-card:hover {
  transform: translateY(-10px);
}
.cid-sSL15lL0WQ .container-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 77%;
}
.cid-sSL15lL0WQ .card-content {
  margin: -80% 0 0 0;
}
.cid-sSL15lL0WQ .card-wrap {
  background: #fefefe;
  height: 100%;
  display: flex;
  border-radius: 20px;
  position: relative;
}
.cid-sSL15lL0WQ .card-wrap__content {
  margin: 0 0 -6vw 0;
  padding: 3rem 1.3rem;
}
.cid-sSL15lL0WQ .card-wrap .image-wrap img {
  width: 100%;
}
.cid-sSL15lL0WQ .card-wrap .image-wrap {
  margin: 1rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sSL15lL0WQ .card-wrap .content-wrap {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL15lL0WQ .card-wrap {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL15lL0WQ .profile-container .pdd-top:not(:first-child) {
    margin-bottom: 4rem;
  }
}
.cid-sSL15lL0WQ .social-row {
  text-align: center;
}
.cid-sSL15lL0WQ .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  transition: all 0.3s;
}
.cid-sSL15lL0WQ .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1.5rem;
}
.cid-sSL15lL0WQ .social-row .soc-item:hover {
  background-color: #000000;
}
.cid-sSL15lL0WQ .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sSL16dYdIF {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: #fff9f0;
}
.cid-sSL16dYdIF .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sSL16dYdIF .team-card:hover {
  transform: translateY(-10px);
}
.cid-sSL16dYdIF .container-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 77%;
}
.cid-sSL16dYdIF .card-content {
  margin: -80% 0 0 0;
}
.cid-sSL16dYdIF .card-wrap {
  background: #fefefe;
  height: 100%;
  display: flex;
  border-radius: 20px;
  position: relative;
}
.cid-sSL16dYdIF .card-wrap__content {
  margin: 0 0 -6vw 0;
  padding: 3rem 1.3rem;
}
.cid-sSL16dYdIF .card-wrap .image-wrap img {
  width: 100%;
}
.cid-sSL16dYdIF .card-wrap .image-wrap {
  margin: 1rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sSL16dYdIF .card-wrap .content-wrap {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL16dYdIF .card-wrap {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sSL16dYdIF .profile-container .pdd-top:not(:first-child) {
    margin-bottom: 4rem;
  }
}
.cid-sSL16dYdIF .social-row {
  text-align: center;
}
.cid-sSL16dYdIF .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  transition: all 0.3s;
}
.cid-sSL16dYdIF .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1.5rem;
}
.cid-sSL16dYdIF .social-row .soc-item:hover {
  background-color: #000000;
}
.cid-sSL16dYdIF .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sVNoxEUH6r {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #fff9f0;
}
.cid-sVNoxEUH6r .img-row {
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-sVNoxEUH6r .img-row {
    flex-wrap: nowrap;
  }
}
.cid-sVNoxEUH6r .item:focus,
.cid-sVNoxEUH6r span:focus {
  outline: none;
}
.cid-sVNoxEUH6r .mbr-section-title {
  color: #111111;
  margin-bottom: 20px;
}
.cid-sVNoxEUH6r .item-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .cid-sVNoxEUH6r .item-img {
    margin-bottom: 40px;
  }
}
.cid-sVNoxEUH6r .item-img img {
  height: 100px;
  width: auto;
  object-fit: cover;
}
.cid-sVNoxEUH6r .btn-item {
  width: 100%;
}
.cid-sVNoxEUH6r .mbr-section-btn {
  font-weight: 500;
}
@media (max-width: 575px) {
  .cid-sVNoxEUH6r .mbr-section-btn {
    flex-wrap: wrap;
    display: flex;
  }
  .cid-sVNoxEUH6r .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sSKT5l9Z3z {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff9f0;
}
.cid-sSKT5l9Z3z .container {
  padding: 40px 16px;
}
.cid-sSKT5l9Z3z .media-container-row .mbr-text {
  color: #191919;
}
